/* 회사소개 style */

/* 1200px ~ 100% width사이즈 */
@media screen and (min-width: 1200px){
  /* 회사소개 */
  .company_img { height: 80vh; }
    .company_A_text { height: 80vh; }
    .C_A_text_subtitle1 { font-size: 38px; }
    .C_A_text_subtitle2 { font-size: 30px; }
  .C_A_second_cont_wrap { max-width: 1200px; }
    .C_A_second_content { width: 25%; }

    /* 개인정보처리방침 */
  #container {padding-top: 77px; padding-bottom: 114px;}

  .title_wrap {margin-bottom: 34px; text-align: center; position: relative; z-index: 1;}
  .title_wrap strong {font-size: 40px; font-weight: 400;}
  .title_wrap p {margin-top: 34px; font-size: 22px;}
  .title_wrap p strong {margin-top: 15px; font-size: 36px; font-weight: 300; display: inline-block;}

  .policy section {max-width: 1224px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
  .policy section * {font-size: 15px; line-height: 26px;}
  .policy section dl {margin-top: 30px; border-top: 1px solid #666666; border-bottom: 1px solid #666666;}
  .policy section dt, .policy section dd {padding-right: 30px; padding-left: 30px;}
  .policy section dd {padding-bottom: 22px;}
  .policy section dt {padding-top: 38px; padding-bottom: 16px; font-size: 18px; font-weight: 500;}
}
/* 768px ~ 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px){
  /* 회사소개 */
  .company_img { height: 60vh; }
    .company_A_text { height: 60vh; }
    .C_A_text_subtitle1 { font-size: 30px; }
    .C_A_text_subtitle2 { font-size: 25px; }
    .company_A_text_cont { font-size: 15px; }
  .C_A_second_cont_wrap { max-width: 768px; }
    .C_A_second_content { width: 25%; }
    .C_A_second_content > div { padding: 0 5px; }

  /* 개인정보처리방침 */
  #container {padding-top:77px; padding-bottom:114px;}

  .title_wrap {margin-bottom: 94px; text-align: center; position: relative; z-index: 1;}
  .title_wrap strong {font-size: 45px; font-weight: 400;}
  .title_wrap p {margin-top: 34px; font-size: 24px;}
  .title_wrap p strong {margin-top: 15px; font-size: 300; display: inline-block;}

  .policy section {max-width: 1224px; margin: 0 auto; padding: 0 20px; box-sizing: border-box;}
  .policy section * {font-size: 15px; line-height: 26px;}
  .policy section dl {margin-top: 30px; border-top: 1px solid #666666; border-bottom: 1px solid #666666;}
  .policy section dt, .policy section dd {padding-right: 30px; padding-left: 30px;}
  .policy section dd {padding-bottom: 22px;}
  .policy section dt {padding-top: 38px; padding-bottom: 16px; font-size: 18px; font-weight: 500;}
}
/* 0 ~ 768px */
@media screen and (max-width: 768px){
  /* 회사소개 */
  .company_img { height: 45vh; }
    .company_A_text { height: 45vh; }
    .C_A_text_subtitle1 { font-size: 20px; }
    .C_A_text_subtitle2 { font-size: 15px; }
    .company_A_text_cont { font-size: 10px; }
  .C_A_second_cont_wrap { max-width: 400px; }
    .C_A_second_content { width: 50%; }
  
    /* 개인정보처리방침 */
  #container {padding-top: 38px; padding-bottom: 57px;}

  .title_wrap {margin-bottom: 38px; padding: 0 15px; text-align: center; position: relative; z-index: 1;}
  .title_wrap strong {font-size: 27px; font-weight: 400;}
  .title_wrap p {margin-top: 15px; font-size: 15px; line-height: 21px;}
  .title_wrap p strong {margin-top: 15px; font-size: 19px; font-weight: 300; line-height: 1.3; display: inline-block;}

  .content {padding: 0 15px;}
  .policy section {box-sizing: border-box;}
  .policy section * {font-size: 13px; line-height: 21px;}
  .policy section dl {margin-top: 15px; border-top: 1px solid #666666; border-bottom: 1px solid #666666;}
  .policy section dt, .policy section dd {padding-right: 15px; padding-left: 15px;}
  .policy section dd {padding-bottom: 22px;}
  .policy section dt {padding-top: 19px; padding-bottom: 16px; font-size: 16px; font-weight: 500;}
}















/* S:header */
#Company_A_visual {
    width: 100%; 
    padding: 6rem 0 3rem;
    color: #fff;
    background: url('../img/about_visual.png') no-repeat;
    background-size: cover;
    background-position: center center;

    animation: 5s animate-plus forwards;
    overflow: hidden;
}
#Company_A_visual h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-top: 6rem;
    animation: 1s animate-up forwards;
    opacity: 0;
}
#Company_A_visual p {
    width: 100%; height: 80px; 
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 300;
    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .3s;
}@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
/* E:header */







/* S:회사소개>회사개요 style */
/* S:section01 */
h2 {
    color: #333;
    padding-top: 5rem;
    padding-bottom: 2%;
    text-align: center;
}
.C_A_first, .H_first { width: 100%; }
.company_img {
  float:left;
  width: 45%;border-top: 8px solid #0084F0;
  background: url('../img/company_about.jpg') no-repeat;
      background-size: cover;
      background-position: center center;
}
.company_A_text {
  padding: 7% 8%;
  float:left;
  width: 55%; border-top: 8px solid #0084F0;
  background: url('../img/C_A_right_back.png') no-repeat;
        background-size: cover;
        background-position: center center;
  color: black;
}
.company_A_text p:nth-child(1) { font-weight: bold; }
.company_A_text_title span {
  display: block;
  text-align: center;
  margin: 5% 0 3%;
  border-bottom: 1px solid black;
}
/* E:section01 */

/* S:section02 */
.C_A_second {
    clear: both; 
    overflow:hidden;
    text-align: center;
}
.borderArea {
    width:1px;
    height: 70px;
    border-left: 1px solid #2980b9;
    margin: 0 auto 2rem;
}
.mar10 { margin-top: 5%;}
.C_A_second_cont_wrap {
    margin: 3% auto 7%;
    overflow: hidden;
}
.C_A_second_content {
    float:left;
    transition: all 0.2s linear;
}
.C_A_second_content:hover { transform: scale(1.08);}
.C_A_second_content > div {
  margin: 5%; padding-top: 12%;
  height:30vh;
  border-radius: 20px;
  /* background-color: #E6F0F0;      */
  background-color: #f1f1f1;       
}
.C_A_second_content_title {
  width: 50%; margin: 1rem auto;
  border-bottom: 1px solid #2980B9;
  padding-bottom: 5px;
  font-weight: bold;
}
/* E:section02 */

/* E:회사소개>회사개요 style */












/* -------------------------------------------------------------------------------------------------------------- */
/* S:회사소개>패밀리 style */
.Fishery_BlueOnTable01 {
  /* border: 1px solid red; */
  position: relative; overflow: hidden; 
  }
  .R_B_Fishery_visualImg {
  max-width: 1500px; width: 100%; height: 600px; margin: 0 auto;
  background: url('../img/esg/policy_visualBack.png') no-repeat;
  background-size: cover;
  background-position: center center;
  
  position: relative; z-index: 1000;
  }
  .R_B_Fishery_cont_text {
  max-width: 1000px; height: 400px; margin: 0 auto 200px;
  background-color: white;
  border-top: 10px solid #4A9EED;
  position: relative; top: 0; z-index: 1001;
  }
  .R_B_Fishery_cont_L {
      width: 70%; height: 390px;
      float:left;
      padding: 45px 50px;
      text-align: left;
      }
      .R_B_Fishery_cont_L h3 {
          text-align: left;
          padding-bottom: 10px;
          display: inline-block;
          border-bottom: 3px solid #4A9EED;
      }
      .RBFishery_contL_p1 { 
          font-size: 20px;
          font-weight: bold;
          padding: 12px 0 0 0;
      }
      .R_B_esg_cont_R {
        width: 30%; height: 390px;
        float:left;
        background: url('../img/esg/tuna_subVisualImg.jpg') no-repeat;
            background-size: cover;
            background-position: center center;
      }
  .R_B_Fishery_cont_R {
      width: 30%; height: 390px;
      float:left;
      background: url('../img/esg/policy_visualImg.png') no-repeat;
          background-size: cover;
          background-position: center center;
  }
  .R_B_Fishery_BOT01_back {
      width: 100%; height: 350px; 
      background-color: #F7F7F7;
      position: absolute; top: 150px; z-index: 1;
  }


.family_content {
  width: 1200px; margin: 0 auto 100px;
  overflow: hidden;
}
.family_cont_wrap {
  width: 50%; height: 450px; float:left;
  overflow: hidden;
}
.family_cont_detail {
  width: 95%; height: 90%; margin: 20px auto; 
  background: white; overflow: hidden;
  border-radius: 50px;
  box-shadow: 0px 0px 20px #b1b1b1;
}
.family_img01 {
  width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
  background: url('../img/about/sillaholding.png') no-repeat; background-size: cover; background-position: center center;
  }
  .family_img02 {
    width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
    background: url('../img/about/sillaJedan.PNG') no-repeat; background-size: cover; background-position: center center;
  }
  .family_img03 {
    width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
    background: url('../img/about/sillaSG_family.png') no-repeat; background-size: cover; background-position: center center;
  }
  .family_img04 {
    width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
    background: url('../img/about/engineering.jpg') no-repeat; background-size: cover; background-position: center center;
  }
  .family_img05 {
    width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
    background: url('../img/about/cosmo.png') no-repeat; background-size: cover; background-position: center center;
  }
  .family_img06 {
    width: 100%; height: 55%; border-bottom: 5px solid #0084F0;
    background: url('../img/about/visionhills.jpg') no-repeat; background-size: cover; background-position: center center;
  }
.family_img:hover { animation: 1s animate-plus forwards; }
@keyframes animate-plus { 
  from {background-size: 100%;}
  to {background-size: 110%;}
}
.family_text {
  padding: 30px;
}
.family_text .page_link {
  float: right;
  color: #0084F0;
  background-color: #f1f1f1;
  padding: 1% 5%;
  border-radius: 50px;
}
.family_text .page_link:hover {
  background-color: #0084F0;
  color: white;
  transition: all .3s linear;
}
/* E:회사소개>패밀리 style */













/* ------------------------------------------------------------------------------------------------------------------- */
/* S:회사소개>회사연혁 style */
.History_h2 { margin-bottom: -1rem; }
.H_h2_text { text-align: center; padding-bottom: 2rem; }

/* Main Components */
.cd-horizontal-timeline {
  opacity: 0;
  margin: 0 auto;
  -webkit-transition: opacity 0.2s;
  -moz-transition: opacity 0.2s;
  transition: opacity 0.2s; 
}
.cd-horizontal-timeline::before { content: 'mobile'; display: none; }
.cd-horizontal-timeline.loaded { opacity: 1; }
.cd-horizontal-timeline .timeline {
  position: relative;
  height: 100px;
  width: 90%;
  max-width: 800px;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-wrapper {
  position: relative;
  height: 100%;
  margin: 0 40px;
  overflow: hidden;
}
.cd-horizontal-timeline .events-wrapper::after, .cd-horizontal-timeline .events-wrapper::before {
  /* these are used to create a shadow effect at the sides of the timeline */
  content: '';
  position: absolute;
  z-index: 2;
  top: 0;
  height: 100%;
  width: 20px;
}
.cd-horizontal-timeline .events-wrapper::before {
  left: 0;
  background-image: -webkit-linear-gradient( left , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to right, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events-wrapper::after {
  right: 0;
  background-image: -webkit-linear-gradient( right , #f8f8f8, rgba(248, 248, 248, 0));
  background-image: linear-gradient(to left, #f8f8f8, rgba(248, 248, 248, 0));
}
.cd-horizontal-timeline .events {
  /* this is the grey line/timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 49px;
  height: 2px;
  /* width will be set using JavaScript */
  background: #dfdfdf;
  -webkit-transition: -webkit-transform 0.4s;
  -moz-transition: -moz-transform 0.4s;
  transition: transform 0.4s;
}
.cd-horizontal-timeline .filling-line {
  /* this is used to create the green line filling the timeline */
  position: absolute;
  z-index: 1;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #4A9EED;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -ms-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
  -webkit-transition: -webkit-transform 0.3s;
  -moz-transition: -moz-transform 0.3s;
  transition: transform 0.3s;
}
.cd-horizontal-timeline .events a {
  position: absolute;
  bottom: 0;
  z-index: 2;
  text-align: center;
  font-size: 1.3rem;
  padding-bottom: 15px;
  color: #383838;
  /* fix bug on Safari - text flickering while timeline translates */
  -webkit-transform: translateZ(0);
  -moz-transform: translateZ(0);
  -ms-transform: translateZ(0);
  -o-transform: translateZ(0);
  transform: translateZ(0);
}
.cd-horizontal-timeline .events a::after {
  /* this is used to create the event spot */
  content: '';
  position: absolute;
  left: 50%;
  right: auto;
  -webkit-transform: translateX(-50%);
  -moz-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  -o-transform: translateX(-50%);
  transform: translateX(-50%);
  bottom: -5px;
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  background-color: #f8f8f8;
  -webkit-transition: background-color 0.3s, border-color 0.3s;
  -moz-transition: background-color 0.3s, border-color 0.3s;
  transition: background-color 0.3s, border-color 0.3s;
}
.no-touch .cd-horizontal-timeline .events a:hover::after {
  background-color: #4A9EED;
  border-color: #4A9EED;
}
.cd-horizontal-timeline .events a.selected {
  pointer-events: none;
}
.cd-horizontal-timeline .events a.selected::after {
  background-color: #4A9EED;
  border-color: #4A9EED;
}
.cd-horizontal-timeline .events a.older-event::after {
  border-color: #4A9EED;
}
@media only screen and (min-width: 1100px) {
  .cd-horizontal-timeline { margin: 0 auto; }
  .cd-horizontal-timeline::before {content: 'desktop'; }
}

.cd-timeline-navigation a {
  /* these are the left/right arrows to navigate the timeline */
  position: absolute;
  z-index: 1;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 34px;
  width: 34px;
  border-radius: 50%;
  border: 2px solid #dfdfdf;
  /* replace text with an icon */
  overflow: hidden;
  color: transparent;
  text-indent: 100%;
  white-space: nowrap;
  -webkit-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  transition: border-color 0.3s;
}
.cd-timeline-navigation a::after {
  /* arrow icon */
  content: '';
  position: absolute;
  height: 16px;
  width: 16px;
  left: 50%;
  top: 50%;
  bottom: auto;
  right: auto;
  -webkit-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -o-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(../img/cd-arrow.svg) no-repeat 0 0;
}
.cd-timeline-navigation a.prev {
  left: 0;
  -webkit-transform: translateY(-50%) rotate(180deg);
  -moz-transform: translateY(-50%) rotate(180deg);
  -ms-transform: translateY(-50%) rotate(180deg);
  -o-transform: translateY(-50%) rotate(180deg);
  transform: translateY(-50%) rotate(180deg);
}
.cd-timeline-navigation a.next {
  right: 0;
}
.no-touch .cd-timeline-navigation a:hover {
  border-color: #7b9d6f;
}
/* .cd-timeline-navigation a.inactive {
  cursor: not-allowed;
} */
.cd-timeline-navigation a.inactive::after {
  background-position: 0 -16px;
}
.no-touch .cd-timeline-navigation a.inactive:hover {
  border-color: #dfdfdf;
}

.cd-horizontal-timeline .events-content {
  position: relative;
  width: 100%;
  margin: 2em 0 0;
  overflow: hidden;
  border-top: 9px solid #4A9EED;
  /* background: url('../img/industry/videoBack.png') no-repeat;
        background-size: cover;
        background-position: center center; */
}
.cd-horizontal-timeline .events-content li {
  position: absolute;
  z-index: 1;
  width: 100%;
  left: 0;
  top: 0;
  -webkit-transform: translateX(-100%);
  -moz-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
  /* padding: 0 5%; */
  opacity: 0;
  -webkit-animation-duration: 0.4s;
  -moz-animation-duration: 0.4s;
  animation-duration: 0.4s;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}
.cd-horizontal-timeline .events-content li.selected {
  /* visible event content */
  position: relative;
  z-index: 2;
  opacity: 1;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0);
}
.cd-horizontal-timeline .events-content li.enter-right, .cd-horizontal-timeline .events-content li.leave-right {
  -webkit-animation-name: cd-enter-right;
  -moz-animation-name: cd-enter-right;
  animation-name: cd-enter-right;
}
.cd-horizontal-timeline .events-content li.enter-left, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-name: cd-enter-left;
  -moz-animation-name: cd-enter-left;
  animation-name: cd-enter-left;
}
.cd-horizontal-timeline .events-content li.leave-right, .cd-horizontal-timeline .events-content li.leave-left {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  animation-direction: reverse;
}
.cd-horizontal-timeline .events-content li > * {
  max-width: 100%x;
  margin: 0 auto;
}
.cd-horizontal-timeline .events-content h3 {
  font-weight: bold;
  font-size: 4.3rem;
  /* font-family: "Playfair Display", serif; */
  font-weight: 900;
  line-height: 1.2;
  text-align: left;
  color:#4A9EED;
}
.cd-horizontal-timeline .events-content p {
  display: block;
  margin: 10px auto;
  text-align: left;
}
.cd-horizontal-timeline .events-content p::before {
  content: '- ';
}
.cd-horizontal-timeline .events-content p {
  font-size: 0.7rem;
  color: #333;
  text-align: left;
}
.cd-horizontal-timeline .events-content p, .cd-horizontal-timeline .events-content p {
  line-height: 1.6;
}
.day_cont {
  /* background: url('../img/industry/videoBack.png') no-repeat;
        background-size: cover;
        background-position: center center; 
        border-top: 8px solid #4A9EED;*/
  overflow: hidden;
  padding: 4% 0 5%;  
}
.day_cont_wrap { 
  max-width: 1000px; margin: 0 auto; overflow: hidden;
  clear: both; 
}
.day_cont_span01 {
  position: absolute; top: 28px; left: 37%; z-index: 700;
  color: #E1E1E1;
  font-size: 4rem; font-weight: 900;  
}
.day_cont_span02 { 
  position: relative; z-index: 900;
  display: block;
  text-align: center;
  color:#4A9EED;
  font-size: 30px; font-weight: bold;
  padding-bottom: 40px;
}
.day_cont_titleText { width: 40%; float:left; }
.H_imgWrap { width: 60%; float:left; }
.H_img {  
    padding: 14rem 0; margin: 0;
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
    -webkit-box-shadow: 0 5px 3px rgba(0,0,0,.3);
    box-shadow: 30px 30px #4A9EED;
    opacity:.87;
}
.img_1960_01 { background: url('../img/about/history_img01.JPG') no-repeat; background-size: cover; background-position: center center; }
.img_1970 { background: url('../img/about/history_1970.PNG') no-repeat; background-size: cover; background-position: center center; }
.img_1980 { background: url('../img/about/history_1980.JPG') no-repeat; background-size: cover; background-position: center center; }
.img_1990 { background: url('../img/about/history_1990.jpg') no-repeat; background-size: cover; background-position: center center; }
.img_2000 { background: url('../img/about/history_2000.PNG') no-repeat; background-size: cover; background-position: center center; }
.img_2010 { background: url('../img/about/sillaholding.png') no-repeat; background-size: cover; background-position: center center; }
.img_2020 { background: url('../img/about/history_2020.jpg') no-repeat; background-size: cover; background-position: center center; }

@media only screen and (min-width: 768px) {
  .cd-horizontal-timeline .events-content h2 {
    font-size: 7rem;
  }
  .cd-horizontal-timeline .events-content em {
    font-size: 2rem;
  }
  .cd-horizontal-timeline .events-content p {
    font-size: 1.2rem;
  }
}

@-webkit-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-right {
  0% {
    opacity: 0;
    -moz-transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-right {
  0% {
    opacity: 0;
    -webkit-transform: translateX(100%);
    -moz-transform: translateX(100%);
    -ms-transform: translateX(100%);
    -o-transform: translateX(100%);
    transform: translateX(100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}
@-webkit-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
  }
}
@-moz-keyframes cd-enter-left {
  0% {
    opacity: 0;
    -moz-transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -moz-transform: translateX(0%);
  }
}
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
    transform: translateX(-100%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
    -moz-transform: translateX(0%);
    -ms-transform: translateX(0%);
    -o-transform: translateX(0%);
    transform: translateX(0%);
  }
}



/* E:회사소개>회사연혁 style */





















/* S:회사소개>경영이념 style */
.M_P_first { text-align: center; }

.M_P_content02 {
  background: url('../img/about/M_P_backSILLA.png') no-repeat;
        background-size: contain;
        background-position: center center;
}
.M_P_cont02Wrap {
  padding: 6% 0;
  overflow: hidden;
  max-width: 1000px; margin: 0 auto;
}
.M_P_cont02_area01 {
  
}
.M_P_cont02_img, .M_P_cont02_text {
  float:left; width: 50%;
}
.M_P_cont02_area02 {
  clear:both;
  padding-top: 6%; 
}
.M_P_cont02_p1 {
  border-bottom: 3px solid rgba(41, 128, 185, 0.33);
  color: rgba(41, 128, 185, 0.33);
    font-size: 4rem;
    font-weight: bold;
    padding-top: 50px;
}
.M_P_cont02_text h4 {
  font-style: normal;
  font-weight: 300;
  font-size: 2.5rem;
  margin-bottom: -5px;
}
.M_P_cont02_p2 {
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 100;
}
.M_P_cont02_p3 {
  font-size: 1.5rem;
  padding-top: 30px;
}
.text_right { text-align: right; }
.text_left { text-align: left; }



.Management_cont2_img {
  width: 300px; padding:500px; margin: 0 auto;
    background: url('../img/about/M_P_content2_img.png') no-repeat;
        background-size: contain;
        background-position: center center;
}


/* E:회사소개>경영이념 style */
















/* S:회사소개>오시는길 */
.Map_pages h2 {
  text-align: center;
  padding-top: 5rem;
  padding-bottom: 2%;
  color: #000;
}

/* S: 지도 */
.tabcontent{ display: none; }
.tabcontent.active{ display: block; }
.tab-button, .map-tab-content{ float: left;}
.tab-button{ width: 20%; }
.map-tab-content{ width: 100%; border-top:8px solid #0084F0; }
iframe{ border:1px solid #0084F0; padding-bottom:4px; box-shadow: 2px 2px 6px #999; }
/* E: 지도 */

/* S:section01 */
.Map_first {
  width: 100%;
  overflow: hidden;
  margin: 0px auto;
  text-align: center;
}
.Map_first h3 {
  padding-bottom: 1rem;
  color: #0084F0;
}
.Map_first_cont_wrap {
  background-color: #F7F7F7;
  width: 100%;
  overflow: hidden; clear: both;
}
.Map_first_content {
  float: left;
  width: 33.333333%;
  border-right: 1px solid #0084F0;
  margin: 3rem 0 2rem;
}
.Map_first_content:last-child {border:0;}
.Map_first_content p {
  margin-top: 1rem;
  height: 50px;
}
/* E:section01 */


.Food_cont01_subway {
  padding: 70px 0;
  overflow: hidden;
  }
  .Food_cont01_subway h5 {
    width: 200px; margin: 0 auto 2rem;
    border-bottom: 1px solid #4A9EED;
    padding-bottom: 10px;
  }
  .Food_cont01_subway h5 img {
    margin-right: 10px;
  }
  .subway_station {
    max-width: 450px; margin: 0 auto;
    overflow: hidden;
  }
  .subway_station div {
    width: 200px; 
    padding: 20px 0; margin-right: 100px;
    border-radius: 40px 0px;
    background: #E6F0F0;
    float: left;
  }
  .subway_station div img {margin-right: 10px;}
  .subway_station p {
    float: left;
    line-height: 65px;
  }


.kakaoMap_wrap {
    max-width: 1500px; margin: 0 auto 300px; 
    overflow: hidden;
    position: relative; z-index: 1000;
  }
  #map_wrap { 
      width: 100%; float:left; 
      padding: 20px;
      text-align: left;
  }
  .kakaomap {
      box-shadow: 0px 0px 20px #b1b1b1;
      border-radius: 50px;
  }
  .map_cont {
      width: 100%;
      height: 150px;
      border-top: 5px solid #0084F0;
      background-color: #fff;
      border-radius: 0 0 50px 50px;
  }
  .map_address {
    width: 40%; float: left;
  }
  .map_address_img1 {
    width: 30px; 
    padding: 11px 0; 
    margin: 40px 10px 5px 100px;
    float: left;
  }
  .map_address_img2 {
    width: 50px;
    margin-left: 30px;
  }


.map_box01{
    text-align: center;
    display: inline-block;
    margin: 60px 0 0 0;
    float: left;
  }
  .map_box01 input{
      border: none;
      outline: none;
      text-align: center; 
      text-align: left;
  }
  .map_box01 button{
      border:none;
      width:60px;
      max-width: 60px;
      vertical-align: bottom; 
      background: rgba(255, 255, 255, 0.00);
      margin-left: -50px;
  }
  .map_traffic {
    width: 60%; float:left;
    padding-top: 35px;
  }
  .map_subway, .map_bus {
    width: 50%; float: left;
  }
  .map_traffic img {
    width: 70px; float: left;
  }
  .map_traffic p {
    display: inline-block;
    float: left;
    width: 240px;
    padding-left: 20px;
  }
  .map_traffic span {
    font-weight: bold;
    font-size: 20px;
  }


.map_content {
  position: absolute; top: 1150px; z-index: 1;

  background-color: #F7F7F7;
  width: 100%;
  height: 67vh;
}
.map_number {
  max-width: 1000px; margin: 400px auto;
}
.map_number img {
  width: 100px;
}
.map_tell_num, .map_fax_num {
  width: 50%; float: left;
}
.map_tell_num {
  border-right: 1px solid #9A9A9A;
}
/* E:본사 */


/* S:부산지사 */
.map_content2 {
  position: absolute; top: 2350px; z-index: 1;

  background-color: #F7F7F7;
  width: 100%;
  height: 67vh;
}
/* E:부산지사 */
/* E:회사소개>오시는길 */
