/* 지속가능경영(ESG) style */




/* S:header */
#Ethical_M_visual {
    width: 100%; 
    padding: 6rem 0 3rem;
    color: #fff;
    background: url('../img/sustainability_visual01.png') no-repeat;
    background-size: cover;
    background-position: center center;

    animation: 5s animate-plus forwards;
    overflow: hidden;
}
@keyframes animate-plus { 
    from {background-size: 120%;
        transition: .1s;}
    to {background-size: 100%;;
        transition: .1s;}
}
#Ethical_M_visual h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-top: 6rem;
    animation: 1s animate-up forwards;
    opacity: 0;
}
#Ethical_M_visual p {
    width: 100%; height: 80px; 
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 300;
    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .3s;
}@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
/* E:header */














/* S:지속가능경영>윤리경영 style */
/* S:Ethical_M_pages */
#Ethical_M_pages h2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2%;
    color: #000;
}
/* S:section01 */
.E_A_first {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; 
    text-align: center;
}
.borderArea {
    width:1px;
    height: 70px;
    border-left: 1px solid #2980b9;
    margin: 0 auto 2rem;
}
.E_A_first h3 { padding-bottom: 1rem; }
.E_A_first_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    margin-top: 4rem;
}
.E_A_first_content {
    width: 40%; 
    margin: 0 auto;
    text-align: left;
    padding: 4rem 0 2rem;
}
.E_A_first_content span {
    color: #2980B9;
}
/* E:section01 */



/* S:section02 */
.E_A_second {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; 
    padding: 5rem 0;
    text-align: center;
}  
.E_A_second_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    overflow:hidden; clear: both;
    margin-top: 4rem;
}
.E_A_second_content {
    float: left;
    width: 33.333333%;
    border-right:1px solid #ddd;
    margin:3rem 0 2rem;
}
.E_A_second_content p {
    margin-top: 1rem;
    height: 50px;
}
/* E:section02 */
/* E:Ethical_M_pages */

/* E:지속가능경영>윤리경영 style */











/* S:지속가능경영>Overview style */
.overview_content {
    width: 100%; padding: 5% 0;
    background-color: #eee; 
    overflow: hidden;
}
.overview_contWrap {
    max-width: 1500px; margin: 0 auto;
    overflow: hidden;
}

.overview_contLeft {
        position: relative;
        width: 35%; height: 70vh; padding: 2%; float:left; background:#2980B9;
    }
    .O_contLeft_border {
        height: 100%; border:1px solid white;
    }
    .O_msgBox {
        position: absolute; top:12.5vh; left: 3%; z-index: 900;
        width: 94%; height: 45vh; 
        background: white;
        border-radius: 10px;
    }
    .O_msgBox h3 { font-size: 2rem; padding-bottom: 1%; padding: 10% 10% 1%; }
    .O_msgBox p  { padding: 0 10% 10%; }
    .msg_imgWrap { 
        width: 100%; height: 16vh;
        background: url('../img/esg/overview_msg.png') no-repeat;
            background-size: cover;
            background-position: center center; overflow: hidden;
    }
    .msg_imgWrap img { margin: 20% 0 0 10%; }

    .msg_imgWrap img.msg_imgHover_after{ display:none; }
      .msg_imgWrap:hover img.msg_imgHover_before{ display:none; }
      .msg_imgWrap:hover img.msg_imgHover_after{ display:inline-block; }

.overview_contRight {
        width: 65%; height: 70vh; float:left; 
    }
    .overview_contRight h3 {
        text-align: center;
        color: white;
        padding: 70px 0 0;
    }
    .O_contRight_Top {
        height: 50%;
        }
        .O_contRight_Bottom {
            height: 50%;
        }
    .O_esg_activity { 
        float:left; 
        width: 50%; height: 100%; 
        padding-left: 10px;
        }
        .O_social_contribution { 
            float:left; 
            width: 50%; height: 100%;  
            padding-left: 10px;
        }
        .O_governance { 
            float:left; 
            width: 35%; height: 100%;  
            padding: 10px 0 0 10px;
        }
        .O_ethical_management { 
            float:left; 
            width: 65%; height: 100%;  
            padding: 10px 0 0 10px;
        }

    .activityWrap, .socialWrap, .governanceWrap, .ethicalWrap {
        height: 100%; 
        padding: 20px;
    }
    .activityWrap { background: url('../img/esg/overview_img01.png') no-repeat; background-size: cover; background-position: center center; overflow: hidden;}
    .socialWrap { background: url('../img/esg/overview_img02.png') no-repeat; background-size: cover; background-position: center center; overflow: hidden;}
    .governanceWrap  { background: url('../img/esg/overview_img03.png') no-repeat; background-size: cover; background-position: center center; overflow: hidden;}
    .ethicalWrap { background: url('../img/esg/overview_img04.png') no-repeat; background-size: cover; background-position: center center; overflow: hidden;}
    
    .O_imgBorder {
        border: 1px solid white;
        height: 100%;
    }
    .O_borderArea {
        border-bottom: 2px solid white;
        width: 60px; margin: 15px auto 18px;
    }
    .O_imgBorder p {
        color: white;
        width: 70%; margin: 0 auto;
        text-align: center;
    }
    .O_view_more {
        width: 102px;
        margin: 5% auto;
      }
      .O_view_more a { 
        padding: 12px 20px; 
        color: white; 
        background-color: #2980B9;
        font-size: .7rem; 
          transition:0.5s all; 
          text-transform: uppercase; 
      }
      .O_view_more a:hover { 
        color: #2980B9; background-color: white;
          transition:0.5s all; 
          text-transform: uppercase; 
      }
    /* E:지속가능경영>Overview style */














/* S:지속가능경영>활동----------------------------------------------- */
/* S:탭페이지 */
.clearfix:before, .clearfix:after { 
    content:" "; display:table; clear:both; height:0;
}
* html .clearfix {height:1%}
.clearfix>li{float: left;}

ul, li{list-style:none;}
a{color:#2980B9; text-decoration:none;}

.tab_menu {max-width:1500px; margin:34px auto 0;}
.tab_menu ul li{
    width:50%; 
    text-align:center; line-height: 50px; 
    background:#fff; border:1px solid #2980B9; box-sizing:border-box;
    transition:0.5s all; 
}

.tab_menu ul li.active{background: #2980B9;}
.tab_menu ul li.active a{color: #fff;}
.tab_menu ul li {cursor:pointer;}
/* E:탭페이지 */

/* S:지속가능경영활동 탭페이지 */
.R_B_policy_visualImg {
    max-width: 1500px; width: 100%; height: 600px; margin: 0 auto;
    background: url('../img/esg/dolphin_visualBack.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
    
    position: relative; z-index: 1000;
    }
    .R_B_esg_cont_R {
        width: 30%; height: 390px;
        float:left;
        background: url('../img/esg/tuna_subVisualImg.jpg') no-repeat;
            background-size: cover;
            background-position: center center;
    }
.activity_cont01 { overflow: hidden; }
    .esg_h4 {
        margin-bottom: 50px; text-align: center;
    }
    .activity_cont01_L { 
        width: 20%; aspect-ratio: auto 1/1; float:left;
        }
        .fos_logo {background: url('../img/esg/fos_logo.png') no-repeat; background-size: cover; background-position: center center;}
        .fip_logo {background: url('../img/esg/fip_logo.png') no-repeat; background-size: cover; background-position: center center;}
        .dolphin_logo {background: url('../img/esg/dolphin_logo.png') no-repeat; background-size: cover; background-position: center center;}
        .msc_logo {}
    .activity_cont01_R {
        float:left;
        width: 80%;
        padding: 0 0 12% 5%;
    }
    .activity_Button {
        padding: 5px 30px; margin: 0 5px;
        background-color: #4A9EED;
        border-radius: 40px;
        color: white;
        }
        .activity_Button:hover {
            background-color: #164878;
            transition: all .6s;
        }
.activity_cont02{ text-align: center; }
    .activity_cont02 p {
        width: 70%; margin: 0 auto;
    }
    .certification_wrap { overflow: hidden; margin: 4% 0; }
    .certification_cont { 
        width: 33.33333%; 
        float: left; padding: 0 .5%;
        }
        .certifi_cont2_wrap {max-width: 67%; margin: 4% auto;}
        .certification_cont2 {
            width: 50%;
            float: left; padding: 0 1%;
        }
        .certifi_cont3_wrap {max-width: 67%; margin: 4% auto;}
        .certification_cont3 {
            width: 100%;
            padding: 0 1%;
        }
        .certification_img04 { /*fos 인증서*/
            width: 100%; aspect-ratio: auto 1/1.4; 
            background: url('../img/esg/fos01.jpg') no-repeat; background-size: cover; background-position: center center;
            }
            .certification_img05 { /*fos 인증서*/
                width: 100%; aspect-ratio: auto 1/1.4; 
                background: url('../img/esg/fos02.jpg') no-repeat; background-size: cover; background-position: center center;
            }
        .certification_img06 { /*fip 인증서*/
            width: 100%; aspect-ratio: auto 1/.7; 
            background: url('../img/esg/fip_certification.png') no-repeat; background-size: cover; background-position: center center;
        }
        .certification_img01 { /*dolphin safe 인증서*/
            width: 100%; aspect-ratio: auto 1/1.3;
            background: url('../img/esg/dolphin01.png') no-repeat; background-size: cover; background-position: center center;
            }
            .certification_img02 { /*dolphin safe 인증서*/
                width: 100%; aspect-ratio: auto 1/1.3; 
                background: url('../img/esg/dolphin02.png') no-repeat; background-size: cover; background-position: center center;
            }
            .certification_img03 { /*dolphin safe 인증서*/
                width: 100%; aspect-ratio: auto 1/1.3; 
                background: url('../img/esg/dolphin03.png') no-repeat; background-size: cover; background-position: center center;
            }
        .certification_img07 { /*shark finning 인증서*/
            width: 50%; aspect-ratio: auto 1/1.3; margin: 0 auto;
            background: url('../img/esg/shark_finning.png') no-repeat; background-size: cover; background-position: center center;
        }
        .certification_img08 { /*Non-Entangling FADs 인증서*/
            width: 50%; aspect-ratio: auto 1/1.3; margin: 0 auto;
            background: url('../img/esg/Non_Entangling_FADs.png') no-repeat; background-size: cover; background-position: center center;
        }
        .certification_img09 { /*FAD Management Policies 인증서*/
            width: 50%; aspect-ratio: auto 1/1.3; margin: 0 auto;
            background: url('../img/esg/FAD_Management_Policies.png') no-repeat; background-size: cover; background-position: center center;
        }
        .certification_img10 { /*turtle policy 인증서*/
            width: 100%; aspect-ratio: auto 1/1.3; 
            background: url('../img/esg/turtle_policy01.png') no-repeat; background-size: cover; background-position: center center;
            }
            .certification_img11 { /*turtle policy 인증서*/
                width: 100%; aspect-ratio: auto 1/1.3; 
                background: url('../img/esg/turtle_policy02.png') no-repeat; background-size: cover; background-position: center center;
            }
            .certification_img12 { /*turtle policy 인증서*/
                width: 100%; aspect-ratio: auto 1/1.3;
                background: url('../img/esg/turtle_policy03.png') no-repeat; background-size: cover; background-position: center center;
            }
        
        
        .certification_img04:hover { /*fos 인증서 hover*/
            background: url('../img/esg/fos01_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
            }
            .certification_img05:hover { /*fos 인증서 hover*/
                background: url('../img/esg/fos02_hover.png') no-repeat; background-size: cover; background-position: center center;
                transition: all .6s;
            }
        .certification_img06:hover { /*fip 인증서 hover*/
            background: url('../img/esg/fip_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
        }
        .certification_img01:hover { /*dolphin 인증서 hover*/
            background: url('../img/esg/dolphin01_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
            }
            .certification_img02:hover { /*dolphin 인증서 hover*/
                background: url('../img/esg/dolphin02_hover.png') no-repeat; background-size: cover; background-position: center center;
                transition: all .6s;
            }
            .certification_img03:hover { /*dolphin 인증서 hover*/
                background: url('../img/esg/dolphin03_hover.png') no-repeat; background-size: cover; background-position: center center;
                transition: all .6s;
            }
        .certification_img07:hover { /*shark finning 인증서 hover*/
            background: url('../img/esg/shark_finning_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
        }
        .certification_img08:hover { /*Non-Entangling FADs 인증서 hover*/
            background: url('../img/esg/Non_Entangling_FADs_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
        }
        .certification_img09:hover { /*FAD Management Policies 인증서*/
            background: url('../img/esg/FAD_Management_Policies_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
        }
        .certification_img10:hover { /*turtle policy 인증서*/
            background: url('../img/esg/turtle_policy01_hover.png') no-repeat; background-size: cover; background-position: center center;
            transition: all .6s;
            }
            .certification_img11:hover { /*turtle policy 인증서*/
                background: url('../img/esg/turtle_policy02_hover.png') no-repeat; background-size: cover; background-position: center center;
                transition: all .6s;
            }
            .certification_img12:hover { /*turtle policy 인증서*/
                background: url('../img/esg/turtle_policy03_hover.png') no-repeat; background-size: cover; background-position: center center;
                transition: all .6s;
            }

.activity_cont01_msc {
    width: 100%;
    padding: 0 0 12% 0;
}
.msc_h5 {
    text-align: center; width: 100%;
}
.msc_button_wrap {
    width: 365px; margin: 0 auto;
}
/* E:지속가능경영활동 탭 */


/* S:환경정책 탭 */
.Fishery_text01 {
    text-align: center;
    font-family: Gowun Batang;
    font-size: 2rem;
    font-weight: 700;
    padding-top: 5%;
}
.Fishery_text01 span { color:#2980B9; }
.Fishery_text02 {
text-align: center;
}
.Fishery_BlueOnTable01 {
/* border: 1px solid red; */
position: relative;
}
.R_B_Fishery_visualImg {
max-width: 1500px; width: 100%; height: 600px; margin: 0 auto;
background: url('../img/esg/policy_visualBack.png') no-repeat;
background-size: cover;
background-position: center center;

position: relative; z-index: 1000;
}
.R_B_Fishery_cont_text {
max-width: 1000px; height: 400px; margin: 0 auto;
background-color: white;
border-top: 10px solid #4A9EED;
position: relative; top: -200px; z-index: 1001;
}
.R_B_Fishery_cont_L {
    width: 70%; height: 390px;
    float:left;
    padding: 45px 50px;
    text-align: left;
    }
    .R_B_Fishery_cont_L h3 {
        text-align: left;
        padding-bottom: 10px;
        display: inline-block;
        border-bottom: 3px solid #4A9EED;
    }
    .RBFishery_contL_p1 { 
        font-size: 20px;
        font-weight: bold;
        padding: 12px 0 0 0;
    }
.R_B_Fishery_cont_R {
    width: 30%; height: 390px;
    float:left;
    background: url('../img/esg/policy_visualImg.png') no-repeat;
        background-size: cover;
        background-position: center center;
}
.R_B_Fishery_BOT01_back {
    width: 100%; height: 600px;
    background-color: #F7F7F7;
    position: absolute; top: 300px; z-index: 1;
}
/* S:드롭다운 슬라이드 */
/* 폰트 적용 (선택사항) 
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
html, body {font-family: "GmarketSansMedium", sans-serif;}*/

/* content */
.policy02 h1.h1 {
    margin-bottom: 30px; 
    font-size: 24px; font-weight: bold; 
    text-align: center;
}
.policy02 .wrap {
    max-width: 1000px; width: 100%; margin: 0 auto 100px; 
    border-radius: 10px; 
    background: #fff; 
    box-shadow: 20px 20px 60px #cecece, -20px -20px 60px #ffffff; 
    overflow: hidden;
    text-align: left;
}
.policy02 .accordion-list .accordion-item {
    border-bottom: 1px solid #ddd;
}
.policy02 .accordion-list .accordion-item .item-button {
    display: block; 
    position: relative; 
    padding: 25px 20px; 
    transition: all 0.3s;
}
.policy02 .accordion-list .accordion-item.active .item-button {
    background-color: #fff;
}
.policy02 .accordion-list .accordion-item .item-button::after {
    content: "\e941"; 
    display: inline-block; 
    position: absolute; top: 50%; right: 20px; 
    transform: translateY(-50%); 
    font-family: xeicon; 
    font-weight: bold; 
    color: #666; 
    transition: all 0.3s;
}
.policy02 .accordion-list .accordion-item.active .item-button::after {
    transform: translateY(-50%) rotate(180deg);
}
.policy02 .accordion-list .accordion-item .accordion-name {
    position: relative; 
    width: calc(100% - 50px); 
    padding-left: 30px; 
    font-size: 17px; 
    font-weight: bold; 
    line-height: 1;
}
.policy02 .accordion-list .accordion-item .accordion-name .icon {
    display: inline-block; 
    position: absolute; top: -4px; left: 0; 
    font-size: 24px; 
    color: #999; 
    transition: all 0.3s;
}
.policy02 .accordion-list .accordion-item.active .accordion-name .icon {
    color: #000;
}
.policy02 .accordion-list .accordion-item .accordion-desc {
    display: none; 
    padding: 50px; 
    background-color: #fafafa;
}
.policy02 .accordion-list .accordion-item .accordion-desc .desc-title {
    display: block; 
    position: relative; 
    margin-bottom: 10px; 
    padding-left: 12px; 
    font-size: 15px; 
    font-weight: bold; 
    color: #555; 
    line-height: 1;
}
.policy02 .accordion-list .accordion-item .accordion-desc .desc-title::before {
    content: ""; 
    display: inline-block; 
    position: absolute; top: 4px; left:0; 
    width: 5px; height: 5px; 
    border-radius: 50%; 
    background-color: #666;
}
.policy02 .accordion-list .accordion-item .accordion-desc .desc-title:not(:first-child) {
    margin-top: 25px;
}
.policy02 .accordion-list .accordion-item .accordion-desc .list-1st li {
    position: relative; 
    padding-left: 15px; 
    font-size: 15px; 
    color: #666;
}
.policy02 .accordion-list .accordion-item .accordion-desc .list-1st li:not(:last-child) {
    margin-bottom: 5px;
}
.policy02 .accordion-list .accordion-item .accordion-desc .list-1st li .link {
    color: #999; 
    transition: all 0.3s;
}
.policy02 .accordion-list .accordion-item .accordion-desc .list-1st li .link:hover {
    color: #000;
}
.policy02 .accordion-list .accordion-item .accordion-desc .list-1st li .link i {
    position: relative; top: 1px;
}
@media (max-width:767px) {
  .accordion-list .accordion-item .accordion-desc {padding: 20px 25px;}
}
@media (max-width:500px) {
  .accordion-list .accordion-item .item-button {padding: 20px 10px;}
}
/* E:드롭다운 슬라이드 */
/* E:환경정책 탭 */
/* S:지속가능경영>활동----------------------------------------------- */
