/*---------------------------- 미디어 쿼리 ----------------------------*/
/* 1200px ~ 100% width사이즈 */
@media screen and (min-width: 1200px){
    .second .container .card:after{ font-size: 12em; top: 50%; } 
        .second .container { float:left; width: 25%; }
    .main_banner { background: url('../img/main/main_banner.png') no-repeat; }
        .main_banner a { width: 200px; margin: 0 auto; }
    .thired_container { width: 33.3333333%; float: left; }
    .fourth { height: 100vh; }
    .fourth .content_Left { float: left; width: 40%; border-right: 1px solid rgb(240, 242, 247); padding-left: 20%; text-align: left; }
        .fourth .content_Right { float: left; width: 60%; }
        .fourth .esg_subtext { font-size: 60px; }
        .fourth .esg_content { margin: 130px auto; padding: 50px 0 45px; }
}
/* 768px ~ 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px){
    .second .container .card:after{ font-size: 9em; top: 60%; }
        .second .container { float:left; width: 25%; }
    .main_banner { background: url('../img/main/main_banner.png') no-repeat; }
        .main_banner a { width: 200px; margin: 0 auto; }
    .thired_container { width: 33.3333333%; float: left; }
    .fourth { height: 100vh; }
    .fourth .content_Left { float: left;  width: 40%; border-right: 1px solid rgb(240, 242, 247); padding-left: 20%; text-align: left; }
        .fourth .content_Right { float: left; width: 60%; }
        .fourth .esg_subtext { font-size: 60px; }
        .fourth .esg_content { margin: 130px auto; padding: 50px 0 45px; }
}
/* 0 ~ 768px */
@media screen and (max-width: 768px){
    .second .container .card:after{ font-size: 7em; top: 65%; }
        .second .container { float:left; width: 50%; margin-bottom: 30px; }
    .main_banner { background: url('../img/main/main_banner_mobile.png') no-repeat; }
        .main_banner a { width: 160px; margin: 20px auto; }
    .thired_container { width: 100%; margin-bottom: 5%;}
    .fourth { height: 130vh; }
    .fourth .content_Left { width: 100%; border-bottom: 1px solid rgb(240, 242, 247); text-align: center; padding: 10px 0 30px; }
        .fourth .content_Right { width: 90%; margin: 0 auto; text-align: center; padding: 20px 0 0; }
        .fourth .esg_subtext { font-size: 40px; }
        .fourth .esg_content { margin: 3rem auto 0rem; padding: 30px 0 35px; }
}





















/* S:main index */
.pageWrap {
    max-width: 1400px; margin: 0 auto; 
    padding-top: 110px;
}
.title {
    font-size: 48px;
    margin-bottom:.3em;
    line-height: 45px;
}
.title_subtext {
    font-size: 20px;
    color: black; 
}
.border_bottom_Area {
    width: 40px; height: 6px; 
    margin: 0 auto 30px;
    background-color: white;
    border-radius: 10px;

    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .5s;
}
/* E:main index */















/* S:first 페이지 */
.MainPage .first {
        width: 100%; height: 100vh;
        overflow: hidden; 
    }
    /* S: video overlay */
    :root {
        /* Full grid area variable */
        --fullGrid: 1 / 1 / -1 / -1;
    }
    .MainPage .video_wrap {
        display: grid;
        grid-template-rows: 100vh;
        overflow: hidden;
        box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
    }
    .MainPage .video_wrap .video-bg {
        /* Span the full grid */
        grid-area: var(--fullGrid);
        /* Re-size video to cover full screen while maintaining aspect ratio */
        min-width: 100%;
        min-height: 100%;
        object-fit: cover;
        /* Display video below overlay 
        z-index: -1;*/
    }
    .MainPage .video_wrap .video-bg::-webkit-media-controls {
        display: none !important;
    }
    .MainPage .video_wrap .video-overlay {
        /* Span the full grid */
        grid-area: var(--fullGrid);
        /* Center Content */
        display: grid;
        /* justify-content: center; */
        align-content: center;
        text-align: center;
        /* Semi-transparent background */
        background-color: rgba(0, 0, 0, 0.226);
        padding-top: 280px;
    }
    .MainPage .video_wrap h1 {
            font-size: calc(1em + 2vw);
            font-weight: 900;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #fff;
            
            opacity: 0;
            animation: 1s animate-up forwards;
            animation-delay: .5s;
        }    
        .MainPage .video_wrap p {
            width: 100%;
            text-align: center;
            color: white;
            font-size: calc(.3em + .7vw);

            opacity: 0;
            animation: 1s animate-up forwards;
            animation-delay: .7s;
        }
    @keyframes animate-up { 
        from { transform: translateY(50px); opacity: 0; }
        to { transform: translateY(0px); opacity: 1; }
    }
    /* E: video overlay */

    /* S: 스크롤다운 */
    .MainPage .video-overlay .bottom-scroll-down {
        margin-top: 280px;
    }
    /* E: 스크롤다운 */

/* E:first 페이지 */









/* S:second-About Us 페이지 */
.second {
    background-color: #fff;
    clear: both;
    overflow: hidden;
    padding-bottom: 100px;
}
.second .example { 
    max-width: 1400px;
    margin: 50px auto; 
}
    /*S:이미지 후버 효과*/
    .second .container .card{
        margin: 0 auto;
        position: relative;
        width: 100%;
        height: 50vh;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        /* box-shadow: 0px 0px 20px #b1b1b1; */
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #f3f3f3;
    }  
    .second .container .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: #9bdc28; */
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;        
    }  
    .second .container .card01:before{
        background: url('../img/main/wonyangBack.jpg') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .second .container .card02:before{
        background: url('../img/main/chulgangBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .second .container .card03:before{
        background: url('../img/main/susanBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .second .container .card04:before{
        background: url('../img/main/foodBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .second .container .card:hover:before{
        clip-path: circle(300px at 80% -20%);
    }  
    .second .container .card:after{
        position: absolute;
        left: -10%;
        font-weight: 900;
        font-style: italic;
        color: #e3ebf1;
    }  
    .second .container .card01:after{ content: '01'; } 
    .second .container .card02:after{ content: '02'; } 
    .second .container .card03:after{ content: '03'; } 
    .second .container .card04:after{ content: '04'; } 
    .second .container .card .imgBx{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    }  
    .second .container .card:hover .imgBx{
        top: 0%;
        transform: translateY(0%);      
    }  
    .second .container .card .imgBx img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
    }  
    .second .container .card01 .imgBx img{ width: 65%; padding-bottom: 50px; } 
    .second .container .card02 .imgBx img{ width: 60%; } 
    .second .container .card03 .imgBx img{ width: 80%; } 
    .second .container .card04 .imgBx img{ width: 80%; } 
    .second .container .card .contentBx{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }  
    .second .container .card:hover .contentBx{
        height: 210px;
    }  
    .second .container .card .contentBx h2{
        position: relative;
        font-weight: 600; 
        font-size: 30px;
        letter-spacing: 1px;
        color: #065B89;
        margin: 0 0 5px;
    }  
    .second .container .card .contentBx .size, .container .card .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;opacity: 0;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }  
    .second .container .card:hover .contentBx .size{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }  
    .second .container .card .contentBx .size h3, .second .container .card .contentBx .color h3{
        color: #000;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }  
    .second .container .card .contentBx a{
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px; box-shadow: 0px 0px 20px #b1b1b1;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
    }  
    .second .container .card:hover .contentBx a{
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.75s;
        margin-top: 30px;
    }  
    /*E:이미지 후버 효과*/
/* E:second-About Us 페이지 */










/* S:웹 배너 */
.main_banner {
    clear: both;
    width: 100%; height: 300px;
    background-size: cover; background-position: center center; 
}
.main_banner div {
    padding-top: 220px;
}
.main_banner a {
    color: #065B89;
    background-color: rgba(255, 255, 255, 0.884);    
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    display: block;
}
.main_banner a:hover {
    background-color: white;
}
.main_banner a img {
    margin-top: -2px;
}
/* E:웹 배너 */











/* S:third-PUBLIC RELATION 페이지 */
.third {
    width: 100%;
    overflow: hidden;
    padding-bottom: 100px;
    background: url('../img/main/public_back.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .content3 {
    width: 95%; height: 310px;
    margin: 0 auto;
    border-radius: 50px; 
    box-shadow: 0px 0px 20px #e2e2e2;
    background-color: white;
    /* box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); */
    /* border: 1px solid #f3f3f3; */
}
.third .BackImg {
    height: 200px; border-bottom:7px solid #065B89;
    border-radius: 50px 50px 0 0; 
    animation: 1s animate-minus forwards; 
    padding-top: 80px;
}
.third .container3_1 {
    background: url('../img/main/public_recruitBack.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_2 {animation: 1s animate-minus forwards; 
    background: url('../img/main//public_philosophy.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_3 {
    background: url('../img/main/public_social.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_1:hover,
.third .container3_2:hover,
.third .container3_3:hover { 
    animation: 1s animate-plus forwards; 
}
@keyframes animate-plus { 
  from {background-size: 100%;}
  to {background-size: 110%;}
}
@keyframes animate-minus { 
    from {background-size: 110%;}
    to {background-size: 100%;}
}

.third .content3 h3 {
    text-align: center;
    color: #065B89;
    font-size: 22px;
    padding-top: 20px;
}
.third .content3 p {
    text-align: center;
}
.third .content3 a {
    color: black;
    width: 150px; margin: 0 auto;
    padding: 10px 20px;
    display: block;
    text-align: center;
    background: white;
    border-radius: 4px; box-shadow: 0px 0px 20px #b1b1b1;
    opacity: 0.7;
    transition: all .3s linear;
}
.third .content3 a:hover {
    color: #065B89;
    opacity: 1;
    transition: all .3s linear;
}
/* E:third-PUBLIC RELATION 페이지 */










/* S:fourth-지속가능경영 페이지 */
.fourth { 
    background-color: #b2b5dd; 
    overflow: hidden;
    padding-bottom: 100px;

    background: url('../img/main/esgBack.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.fourth .title {
    text-align: center;
    margin-bottom: 30px;
}
.fourth .esg_subtext {
    margin-top: 20px;
    text-align: center;
}
.esg_subtext2 {
    text-align: center;
}

.fourth .esg_content {
    max-width: 1200px; width: 90%;
    color: rgb(240, 242, 247);
    background-color: rgb(35, 75, 187);
    overflow: hidden;
    border-radius: 40px;
}
.fourth .content_Right {
    padding-left: 5%;
}
.fourth .content_wrap {
    width: 70%; margin: 0 auto; 
    overflow: hidden;
}

.fourth .content_Left a {
    color: white;
    font-size: 15px;
}
.fourth .content_Left a:hover {
    color: black;
}
/* E:fourth-지속가능경영 페이지 */










/* S:five 페이지 
.five { 
    background-color: #6a6a72; 
    overflow: hidden;
    padding-bottom: 100px;
}*/
/* E:five 페이지 */
