
/* S:main index */
.pages {
    height: 100%;
    width: 100%;
    overflow: hidden;
}
.page {
    height: 100%;
    width: 100%;
    transition: bottom .6s;
}
.page:first-child {
  bottom: 0;
}
.fourth { background-color: #b2b5dd; }
.title_first {
    width: 100%; padding: 250px 0 30px;
    text-align: center;
    color: white;
        font-size: 4em;
        font-weight: bold;
    animation: 1s animate-up forwards;
    opacity: 0;
}
.sub_title {
    width: 100%;
    text-align: center;
    color: white;
        font-size: 1.5em;
    opacity: 0;
    animation: 1s animate-up forwards;
    animation-delay: .3s;
}
@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
.pageWrap {
    max-width: 1400px; margin: 0 auto; 
    padding-top: 110px;
}
.title {
    font-size: 48px;
    margin-bottom:.3em;
}
.title_subtext {
    font-size: 20px;
    color: black; 
}
/* E:main index */















/* S:first 페이지 */
.first {
    background-image: url('../img/aboutus_back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    background-color: black;
}
.first:hover {
    background-size: 110%
}
/* E:first 페이지 */









/* S:second-About Us 페이지 */
.second {
    background-color: #fff;
    margin-bottom: -100px;
}
.example {
    max-width: 1400px; margin: 50px auto;
}
    /*S:이미지 후버 효과*/
    .second .container {
        float:left; width: 25%;
    }
    .container .card{
        margin: 0 auto;
        position: relative;
        width: 320px;
        height: 450px;
        background: #fff;
        border-radius: 20px;
        overflow: hidden;
        /* box-shadow: 0px 0px 20px #b1b1b1; */
        box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05);
        border: 1px solid #f3f3f3;
    }  
    .container .card:before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /* background: #9bdc28; */
        clip-path: circle(150px at 80% 20%);
        transition: 0.5s ease-in-out;        
    }  
    .container .card01:before{
        background: url('../img/main/wonyangBack.jpg') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .container .card02:before{
        background: url('../img/main/chulgangBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .container .card03:before{
        background: url('../img/main/foodBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .container .card04:before{
        background: url('../img/main/foodBack.png') no-repeat;
            background-size: cover; background-position: center center;        
    } 
    .container .card:hover:before{
        clip-path: circle(300px at 80% -20%);
    }  
    .container .card:after{
        position: absolute;
        top: 50%;
        left: -10%;
        font-size: 12em;
        font-weight: 800;
        font-style: italic;
        color: #e3ebf1;
    }  
    .container .card01:after{ content: '01'; } 
    .container .card02:after{ content: '02'; } 
    .container .card03:after{ content: '03'; } 
    .container .card04:after{ content: '04'; } 
    .container .card .imgBx{
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        z-index: 10000;
        width: 100%;
        height: 220px;
        transition: 0.5s;
    }  
    .container .card:hover .imgBx{
        top: 0%;
        transform: translateY(0%);      
    }  
    .container .card .imgBx img{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 270px;
    }  
    .container .card01 .imgBx img{ width: 220px; padding-bottom: 50px; } 
    .container .card02 .imgBx img{ width: 200px; } 
    .container .card03 .imgBx img{ width: 270px; } 
    .container .card04 .imgBx img{ width: 270px; } 
    .container .card .contentBx{
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 100px;
        text-align: center;
        transition: 1s;
        z-index: 10;
    }  
    .container .card:hover .contentBx{
        height: 210px;
    }  
    .container .card .contentBx h2{
        position: relative;
        font-weight: 600; 
        font-size: 30px;
        letter-spacing: 1px;
        color: #4A9EED;
        margin: 0 0 5px;
    }  
    .container .card .contentBx .size, .container .card .contentBx .color {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 20px;
        transition: 0.5s;opacity: 0;
        visibility: hidden;
        padding-top: 0;
        padding-bottom: 0;
    }  
    .container .card:hover .contentBx .size{
        opacity: 1;
        visibility: visible;
        transition-delay: 0.5s;
    }  
    .container .card .contentBx .size h3, .container .card .contentBx .color h3{
        color: #000;
        font-weight: 300;
        font-size: 14px;
        text-transform: uppercase;
        letter-spacing: 2px;
        margin-right: 10px;
    }  
    .container .card .contentBx a{
        display: inline-block;
        padding: 10px 20px;
        background: #fff;
        border-radius: 4px; box-shadow: 0px 0px 20px #b1b1b1;
        margin-top: 10px;
        text-decoration: none;
        font-weight: 600;
        color: #111;
        opacity: 0;
        transform: translateY(50px);
        transition: 0.5s;
    }  
    .container .card:hover .contentBx a{
        opacity: 1;
        transform: translateY(0px);
        transition-delay: 0.75s;
        margin-top: 30px;
    }  
    /*E:이미지 후버 효과*/
/* E:second-About Us 페이지 */










/* S:웹 배너 */
.main_banner {
    width: 100%; height: 300px;
    background: url('../img/main/main_banner.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.main_banner div {
    padding-top: 230px;
}
.main_banner a {
    color: #4A9EED;
    background-color: rgba(255, 255, 255, 0.884);    
    width: 200px; margin: 0 auto;
    padding: 5px 0;
    text-align: center;
    border-radius: 5px;
    display: block;
}
.main_banner a:hover {
    background-color: white;
}
.main_banner a img {
    margin-top: -2px;
}
/* E:웹 배너 */











/* S:third-PUBLIC RELATION 페이지 */
.third { 
    background: url('../img/main/third_back.PNG') no-repeat;
        background-size: cover; background-position: center center; 
    margin-bottom: -270px;
}
.thired_container {
    width: 33.3333333%; 
    float: left;
    padding-right: 40px;
}
.third .content3 {
    height: 310px;
    border-radius: 50px; 
    box-shadow: 0px 0px 20px #e2e2e2;
    background-color: white;
    /* box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.05); */
    /* border: 1px solid #f3f3f3; */
}
.third .BackImg {
    height: 200px; border-bottom:7px solid #4A9EED;
    border-radius: 50px 50px 0 0; 
    animation: 1s animate-minus forwards; 
    padding-top: 80px;
}
.third .container3_1 {
    background: url('../img/main/public_recruitBack.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_2 {animation: 1s animate-minus forwards; 
    background: url('../img/main//public_philosophy.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_3 {
    background: url('../img/main/public_social.png') no-repeat;
        background-size: cover; background-position: center center; 
}
.third .container3_1:hover,
.third .container3_2:hover,
.third .container3_3:hover { 
    animation: 1s animate-plus forwards; 
}
@keyframes animate-plus { 
  from {background-size: 100%;}
  to {background-size: 110%;}
}
@keyframes animate-minus { 
    from {background-size: 110%;}
    to {background-size: 100%;}
}

.third .content3 h3 {
    text-align: center;
    color: #4A9EED;
    font-size: 22px;
    padding-top: 20px;
}
.third .content3 p {
    text-align: center;
}
.third .content3 a {
    color: black;
    width: 150px; margin: 0 auto;
    padding: 10px 20px;
    display: block;
    text-align: center;
    background: white;
    border-radius: 4px; box-shadow: 0px 0px 20px #b1b1b1;
    opacity: 0.7;
    transition: all .3s linear;
}
.third .content3 a:hover {
    color: #4A9EED;
    opacity: 1;
    transition: all .3s linear;
}
/* E:third-PUBLIC RELATION 페이지 */