
/* S:main index */
.pages {
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
}
.page {
    height: 100%;
    width: 100%;
    position: absolute;
    bottom: -100%;
    transition: bottom .6s;
}
.page:first-child {
  bottom: 0;
}
.first {
  /* background-image: url('../img/ship.png'); 
    background-color: black;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    transition: background-size .9s ease;
    -moz-transition: background-size .9s ease;
    -web-kit-transition: background-size .9s ease;*/
    background-image: url('../img/aboutus_back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    background-color: black;
}
.first:hover {
    background-size: 110%
}
.second {
    background-image: url('../img/aboutus_back.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-size: 100%;
    background-color: #073642;
}
.third { background-color: #cb4b16; }
.fourth { background-color: #b2b5dd; }
.pagination {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    display: block;
}
.pagination>li {
    list-style: none;
    height: 10px;
    width: 10px;
    border: 2px solid white;
    border-radius: 50%;
    margin-top: 10px;
    transition: background .7s;
}
.pagination>li.active { background: #fff; }
.title_first {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
        font-size: 4em;
        font-weight: bold;
    animation: 1s animate-up forwards;
    opacity: 0;
}
.sub_title {
    width: 100%;
    position: absolute;
    top: 60%;
    text-align: center;
    color: white;
        font-size: 1.5em;
    opacity: 0;
    animation: 1s animate-up forwards;
    animation-delay: .3s;
}
.sub_title_last {
    width: 100%;
    position: absolute;
    top: 52%;
    text-align: center;
    color: white;
        font-size: 2em;
}
@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
.title {
    width: 100%;
    position: absolute;
    top: 20%;
    text-align: center;
    color: #2980B9;
        font-size: 3em;
        font-weight: bold;
}
.title_last {
    width: 100%;
    position: absolute;
    top: 40%;
    text-align: center;
    color: white;
        font-size: 9em;
        font-weight: bold;
}
.btn_wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }  
  .button {
    position: absolute; top: 70%;
    width: 140px;
    height: 45px;
    color: #fff;
        font-size: 15px;
        text-transform: uppercase;
        text-align: center;
        letter-spacing: 2.5px;
        font-weight: bold;
    border: 3px solid #2EE59D;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    }  
  .button:hover {
    background-color: #2EE59D;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: #fff;
    transform: translateY(-7px);
  }
.item-100vh {
    position: absolute;
        left: 50%;
        transform: translateX(-50%);
        top: calc(100vh - 70px);
        z-index: 9999;
        width: 100px;
    color: #fff;
    text-align: center;
}
.item-100vh img{
    width: 60px;
    height: 60px;
    object-fit: cover;
}
/* E:main index */