@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 840px) {
    
    .fz_s {font-size: 4vw !important; line-height: 1.4;}

    .hide-m {display: none !important;}

    .list-group table tbody td {text-align: left; padding-left: 7vw; font-size: 4vw;}
    .list-group table tbody th, .list-group table tbody td {vertical-align: middle; padding: 4vw 2vw;}
    .list-group table a.tit {display: inline-block; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 2; -webkit-box-orient: vertical;}
    .list-group table td .date {font-size: 3.6vw; margin-top: 3vw;}
}

/* S: 전자공고 */
.list-group table {width: 100%; border-top: 2px solid #2980B9;}
.list-group table {border-collapse: collapse; border-spacing: 0;}
.list-group table thead th, .list-group table tbody td {vertical-align: middle; padding: 22px 18px; border-bottom: 1px #2980b9 solid; text-align: center; vertical-align: middle; font-size: 16px;}
.list-group table thead th {background-color: #f4f5f7; font-weight: 700; text-align: center;}
.list-group table tbody td {text-align: center;}
.list-group table a.tit{display: inline-block; overflow: hidden; display: -webkit-box; -webkit-line-clamp: 1; -webkit-box-orient: vertical;}

.ta-1 {text-align: left !important;}
.ta-r {text-align: right !important;}
.ta-c {text-align: center !important;}

.view-m {display: block !important;}

.list-group table {
    width: 100%;
}

.list-group table:not(:last-child) {
    margin-bottom: 3.5rem;
}

#loop table a {
    color: rgb(99, 98, 98);
    text-decoration: none;
}

#loop tbody tr:hover {
    background-color: #eee;
    border-radius: 1.5rem;
}

.list-group table th {
    color: green;
    margin-bottom: 1rem;
}

nav {
    width: 100%;
    margin: 0 auto;
    display: inline-block;
    text-align: center;
}

nav .pagination {
    list-style: none;
    margin-bottom: 3rem;
    display: inline-block;
}

nav .pagination li {
    display: inline-block;
}

nav .pagination li:not(:last-child) {
    margin-right: 2rem;
}

nav .pagination li a {
    padding: 5px 10px;
    text-decoration: none;
}

.pagination > li > a, 
.pagination > li > span {
    background-color: white;
    color: green;
    border-radius: 100%;
}

.pagination > .active > a, 
.pagination > .active > span {
    background-color: rgb(223, 15, 15);
    border-color: rgb(223, 15, 15);
    color: white;
}

.container nav .pagination .current-page a:hover,
.container nav .pagination .navi-previous a:hover,
.container nav .pagination .navi-next a:hover {
    background-color: green;
    color: white;
    border-radius: 15px;
}

#site-body h2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2%;
    color: #000;
}

/* E: 전자공고 */



/* 투자정보 style */


/* S:header */
#Investment_visual {
    width: 100%; 
    padding: 6rem 0 3rem;
    color: #fff;
    background: url('../img/investment_visual.png') no-repeat;
    background-size: cover;
    background-position: center center;

    animation: 5s animate-plus forwards;
    overflow: hidden;
}
#Investment_visual h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-top: 6rem;
    animation: 1s animate-up forwards;
    opacity: 0;
}
#Investment_visual p {
    width: 100%; height: 80px; 
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 300;
    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .3s;
}@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
/* E:header */

/* S:Investment_pages */
#Investment_pages h2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2%;
    color: #000;
}
/* S:section01 */
.Investment_first {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; 
    text-align: center;
}
.borderArea {
    width:1px;
    height: 70px;
    border-left: 1px solid #2980b9;
    margin: 0 auto 2rem;
}
.Investment_first h3 { padding-bottom: 1rem; }
.Investment_first_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    margin-top: 4rem;
}
.Investment_first_content {
    width: 40%; 
    margin: 0 auto;
    text-align: left;
    padding: 4rem 0 2rem;
}
.Investment_first_content span {
    color: #2980B9;
}
/* E:section01 */

/* S:공시정보 */
.Disclosure01 {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    text-align: center;
}


/* E:공시정보 */

/* S:탭페이지 */
.clearfix:before, .clearfix:after { 
    content:" "; display:table; clear:both; height:0;
}
* html .clearfix {height:1%}
.clearfix>li{float: left;}

ul, li{list-style:none;}
a{color:#2980B9; text-decoration:none;}

.tab_menu {max-width:1500px; margin:34px auto 0;}
.tab_menu ul li{
    width:50%; 
    text-align:center; line-height: 50px; 
    background:#fff; border:1px solid #2980B9; box-sizing:border-box;
    transition:0.5s all; 
}

.tab_menu ul li.active{background: #2980B9;}
.tab_menu ul li.active a{color: #fff;}
.tab_menu ul li {cursor:pointer;}
/* E:탭페이지 */

/* S:재무정보 */
.tab_menu ul .F_I_tab_list {width: 25%;}
/* E:재무정보 */
