/* 채용정보 style */

/* 1200px ~ 100% width사이즈 */
@media screen and (min-width: 1200px){
    /* 채용안내(직원탭) */
    .R_I_third_cont_wrap { max-width: 1200px; }
        .R_I_third_content { width: 16.66666666666667%; }
    .R_I_fourth_cont_wrap { max-width: 1200px; }
        .R_I_fourth_content { width:33.3333%; float:left; }
        .R_I_cont4_title { margin: 3% auto; font-size: 3rem; }
        .R_I_cont4_text { height: 8vh; }
    /* 채용안내(선원탭) */
    .R_I_fourth2_cont_wrap { max-width: 768px; }
    .R_I_fourth2_content { width:50%; }
    /* 인사제도 */
    .P_S_first_cont_wrap { max-width: 1000px; }
        .P_S_first_contArea { height: 14.5vh; }
        .P_S_first_content { width: 50%; }
        .P_S_first_iconIMG { width: 30%; }
}
/* 768px ~ 1200px */
@media screen and (min-width: 768px) and (max-width: 1200px){
    /* 채용안내(직원탭) */
    .R_I_third_cont_wrap { max-width: 768px; }
        .R_I_third_content { width: 33.3333%; }
    .R_I_fourth_cont_wrap { max-width: 768px; }
        .R_I_fourth_content { width: 33.3333%; float:left; }
        .R_I_cont4_title { margin: 0 auto; font-size: 2.2rem; }
        .R_I_cont4_text { font-size: 12px; height: 5vh; }
    /* 채용안내(선원탭) */
    .R_I_fourth2_cont_wrap { max-width: 570px; }
    .R_I_fourth2_content { width:50%; }
    /* 인사제도 */
    .P_S_first_cont_wrap { max-width: 768px; }
        .P_S_first_contArea { height: 27vh; }
        .P_S_first_content { width: 50%; }
        .P_S_first_iconIMG { width: 30%; }
}
/* 0 ~ 768px */
@media screen and (max-width: 768px){
    /* 채용안내(직원탭) */
    .R_I_third_cont_wrap { max-width: 768px; }
        .R_I_third_content { width: 50%; }
    .R_I_fourth_content { max-width: 400px; margin:0 auto; }
    .R_I_cont4_title { margin: 3% auto; font-size: 3rem; }
    .R_I_cont4_text { height: 8vh; }
    /* 채용안내(선원탭) */
    .R_I_fourth2_cont_wrap { max-width: 385px; }
    .R_I_fourth2_content { width:100%; }
    /* 인사제도 */
    .P_S_first_cont_wrap { max-width: 400px; }
        .P_S_first_contArea { height: 22vh; }
        .P_S_first_content { width: 100%; }
        .P_S_first_iconIMG { width: 20%; }
}














/* S:header */
#Personnel_S_visual {
    width: 100%; 
    padding: 6rem 0 3rem;
    color: #fff;
    background: url('../img/recruitment_visual.png') no-repeat;
    background-size: cover;
    background-position: center center;

    animation: 5s animate-plus forwards;
    overflow: hidden;
}
#Personnel_S_visual h1 {
    width: 100%;
    text-align: center;
    font-size: 55px;
    font-weight: 500;
    padding-top: 6rem;
    animation: 1s animate-up forwards;
    opacity: 0;
}
#Personnel_S_visual p {
    width: 100%; height: 80px; 
    text-align: center;
    font-size: 20px;
    padding-top: 20px;
    font-weight: 300;
    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .3s;
}@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
/* E:header */











/* S:채용정보 > 인사제도 style */
#Personnel_S_pages h2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2%;
    color: #000;
}

/* S:section01 */
.borderArea {
    width:1px;
    height: 70px;
    border-left: 1px solid #2980b9;
    margin: 0 auto 2rem;
}
.P_S_first {
    width: 100%;
    background: #F6F8F8;
    overflow: hidden;
    padding-bottom: 5%;
}
.P_S_first h3 {
    text-align: center;
    padding: 5% 0% 1% 0%;
    color: #2980B9;
}
.P_S_first > p {
    text-align: center;
    padding: 0% 0% 1.5% 0%;
}
.P_S_first_cont_wrap p { text-align: left; }
.P_S_first_cont_wrap {
    margin: 0 auto;
    background: pink;
}
.P_S_first_content {
    float:left;
    color: #444;
    transition: all 0.2s linear;
}
/* .P_S_first_content:hover { transform: scale(1.08);} */
.P_S_first_contArea {
    margin: 5%; 
    background-color: #E6F0F0;
    background-color: #fff;
}
.P_S_first_cont1_title {
    text-align: left;
    font-weight: 600;
    margin: 1.5rem 0 0 2rem;
    padding-bottom: 5px;
    border-bottom: 1px solid #2980B9;
    font-size: large;
}
.P_S_first_cont1_text {
    margin: 0.5rem 0 0 2rem;
    font-weight: 300;
    font-size: 13px;
}
.P_S_first_iconIMG {
    float:left; 
    margin: 0 auto;
    aspect-ratio: auto 1/1;
}
.P_S_first_textWrap { float:left; }
.P_S_first_content_img1 { background: url('../img/recruitment/welfare1.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img2 { background: url('../img/recruitment/welfare2.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img3 { background: url('../img/recruitment/welfare3.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img4 { background: url('../img/recruitment/welfare4.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img5 { background: url('../img/recruitment/welfare5.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img6 { background: url('../img/recruitment/welfare6.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img7 { background: url('../img/recruitment/welfare7.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img8 { background: url('../img/recruitment/welfare8.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img9 { background: url('../img/recruitment/welfare9.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img10 { background: url('../img/recruitment/welfare10.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img11 { background: url('../img/recruitment/welfare11.jpg') no-repeat; background-size: cover; background-position: center center; }
.P_S_first_content_img12 { background: url('../img/recruitment/welfare12.jpg') no-repeat; background-size: cover; background-position: center center; }
/* E:section01 */

/* S:section02 */

.P_S_second {
    width: 100%;
    background: #FFF;
    overflow: hidden;
    padding-bottom: 5%;
}
.P_S_second h3 {
    text-align: center;
    padding: 5% 0% 1% 0%;
    color: #2980B9;
}
.P_S_second p {
    color: #606060;
    text-align: center;
    font-size: 15px;
    padding: 0% 0% 1.5% 0%;
}

/* S:이미지 좌우 슬라이드 */
.slider {
    background: white;
    width: 100%; height: 250px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slider::before, .slider::after {
    background: linear-gradient(to right, #fff 0%, rgba(255, 255, 255, 0) 100%);
    content: "";
    height: 100%;
    position: absolute;
    width: 100px;
    z-index: 2;
}

.slider::after {
    right: 0;
    top: 0;
    -webkit-transform: rotateZ(180deg);
    transform: rotateZ(180deg);
}

.slider::before {
    left: 0;
    top: 0;
}

.slider .slide-track {
    animation: scroll 80s linear infinite;
    display: flex;
    width: calc(300px * 30);

}

.slider .slide-track:hover {
    animation-play-state: paused;
}

.slider .slide {
    height: 250px;
    width: 300px;
    margin: 0.1%;
    cursor: pointer;
}


.slide:nth-child(1), .slide:nth-child(11) { background: url('../img/recruitment/bathroom.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(2), .slide:nth-child(12) { background: url('../img/recruitment/cafeteria.png') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(3), .slide:nth-child(13) { background: url('../img/recruitment/gym_shower_room.png') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(4), .slide:nth-child(14) { background: url('../img/recruitment/lobby.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(5), .slide:nth-child(15) { background: url('../img/recruitment/meeting_room.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(6), .slide:nth-child(16) { background: url('../img/recruitment/parkingLot.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(7), .slide:nth-child(17) { background: url('../img/recruitment/reception_room.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(8), .slide:nth-child(18) { background: url('../img/recruitment/restaurant.png') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(9), .slide:nth-child(19) { background: url('../img/recruitment/rooftop.jpg') no-repeat; background-size: cover; background-position: center center; }
.slide:nth-child(10), .slide:nth-child(20) { background: url('../img/recruitment/screen_golf.jpg') no-repeat; background-size: cover; background-position: center center; }
@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-250px * 9));
    }
}
/* E:이미지 좌우 슬라이드 */
/* E:section02 */
/* E:채용정보 > 인사제도 style */



















/* ----------------------------------------------------------- */

/* S:채용정보 > 채용안내 style */
/* S:header */
#recruit_M_visual {
    width: 100%; 
    padding: 10rem 0;
    color: #fff;
    background: url('../img//recruitment_visual.png') no-repeat;
    background-size: cover;
    background-position: center center;
}
#recruit_M_visual h1 {
    width: 100%;
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    padding-top: 5rem;
    animation: 1s animate-up forwards;
    opacity: 0;
}
#recruit_M_visual p {
    width: 100%; height: 80px; 
    text-align: center;
    font-size: 20px;
    padding-top: 1rem;
    opacity: 0;
        animation: 1s animate-up forwards;
        animation-delay: .3s;
}@keyframes animate-up { 
    from {transform: translateY(50px);
    opacity: 0;}
    to {transform: translateY(0px);
    opacity: 1;}
}
/* E:header */

.borderArea-horizon {
    width:70px;
    height: 1px;
    border-bottom: 1px solid #2980b9;
    margin: 0 auto 2rem;
}




/* S:recruit_M_pages */
#recruit_M_pages h2 {
    text-align: center;
    padding-top: 5rem;
    padding-bottom: 2%;
    color: #000;
}




/* S:탭페이지 */
.tab-menu { margin-top:34px; }
.tab-menu ul { 
    margin:0; padding:0; 
    list-style:none; 
    display: -webkit-box; 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
}
.tab-menu ul li { 
    -ms-flex-preferred-size: 0; 
    flex-basis: 0; 
    -ms-flex-positive: 1; 
    flex-grow: 1; 
    max-width: 100%; 
    text-align:center; 
}
.tab-menu ul li a { 
    color: #2980B9; 
    text-transform: uppercase; 
    letter-spacing: 0.44px; 
    display:inline-block; 
    padding:5px 26px; 
    display:block; 
    text-decoration:none; 
    transition:0.5s all; 
    background: #fff; 
    border: 2px solid #2980B9; 
}
#R_I_tabLink_01 { margin-left: 30%; }
#R_I_tabLink_02 { margin-right: 30%; }
.tab-menu ul li a:hover { 
    background:#2980B9; 
    color:#fff; 
    text-decoration:none; 
}
.tab-menu ul li a.active { 
    background:#2980B9; 
    color:#fff; 
    text-decoration:none; 
}
.tab-box { display:none; }
.tab-box h3 { margin-top: 5%; color: #2980B9; text-align: center;}

.tab-teaser { 
    max-width:100%; 
    width:100%; 
    margin:0 auto; 
}
.tab-main-box { 
    background:#fff; 
    margin-top:-2px;  
    margin-bottom:10%; 
}
/* S:직원채용 탭페이지 */
.employee_cont {
    width: 100%;
    background-color: #F6F8F8;
    text-align: center;
    margin-bottom: 4%;
    color: #444;
}
.employee_cont:nth-child(2) {margin-top: 2%;}
.employee_cont:nth-child(4) {
    background-color: #fff;
    margin-top: -2%;
}
.employee_cont:nth-child(5) {
    background: url('../img/recruitment/cont04_back.png') no-repeat;
    background-size: cover;
    background-position: center center;

}
.employee_cont:nth-child(5) h4 {color:#fff; margin-top:1%;}
.employee_cont:nth-child(6) {
    background-color: #fff;
    width: 60%; margin: 0 auto;
    border-bottom: 2px solid #B0B0B0;
    text-align: left;
}
.employee_cont:nth-child(6) h4,
.employee_cont:nth-child(7) h4 {padding: 3% 10% 0.5% 0;}
.employee_cont:nth-child(6) ul {
    margin: 1% 0 5%;
}
.employee_cont:nth-child(7) {
    background-color: #fff;
    width: 60%; margin: 0 auto;
    text-align: left;
}
.employee_cont:nth-child(7) li,
.employee_cont:nth-child(6) li {
    border-bottom: 1px solid #ddd;
    padding: 2% 1%;
}
.employee_cont:nth-child(6) li span {
    color: #2980B9;
    font-weight: bold;
}
.employee_cont:nth-child(7) li span {
    color: #2980B9;
    font-weight: bold;
}
.employee_cont h4 {
    display: inline-block;
    padding: 3% 3% 0 3%;
}
.R_I_cont1_text, 
.R_I_cont2_text {
    padding: 0.3% 0 3%; 
}
.employee_span {
    color: #2980B9;
    font-weight: bold;
}
.second {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; 
    padding: 5rem 0;
    text-align: center;
}  
.R_I_third_cont_wrap {
    background-color: #fff;
    margin: 2% auto;
    overflow:hidden; clear: both;
    }
    .R_I_third_content {
        float: left;
        transition: all 0.2s linear;
    }
    .R_I_third_content:hover { transform: scale(1.08);}
    .R_I_third_content > div {
        margin: 8% 3%; padding: 10% 0;
        background-color: #f1f1f1;
        border-radius: 15px;
        box-shadow: 0 10px 10px -10px;
    }
.R_I_cont3_title {
    font-weight: 600;
    width: 50%; 
    margin: 1rem auto;
    padding-bottom: 5px;
    border-bottom: 1px solid #2980b9;
}
.R_I_cont3_text {
    font-weight: 300;
    margin: 0;
}
.R_I_fourth_cont_wrap {
    overflow: hidden;
    margin: 0 auto;
}
.R_I_fourth_content > div {
    background-color: #eee; color: #000;
    border-radius: 250px;
    margin: 5% 3%; 
    padding-bottom: 7%;
    }
    /* .R_I_fourth_content::after {
        display: inline-block;
        content: "";
    } */
.R_I_fourth_content img {
    margin-top: 15%;
}
.R_I_cont4_title {
    clear: both;
    color: #2980B9;
    border-bottom: 1px solid #2980B9;
    width: 30%;
    font-weight: bold;
}
    .R_I_cont4_text a {
        background-color: #2980B9;
        border-radius: 50px;
        padding: 1% 3%;
        color: white;
    }
    .R_I_cont4_text a:hover {
        background: #76a2c0;
        color: white;
        transition:0.5s all; 
    }
    .R_I_cont4_text span { 
        display: block;
        margin-top: 2%;
    }
/* E:직원채용 탭페이지 */

/* S:선원채용 탭페이지 */
.employee_cont2 {
    width: 100%; overflow: hidden;
    background-color: #F6F8F8;
    text-align: center;
    margin-bottom: 5%;
    color: #444;
    padding: 2% 0;
}
/* .employee_cont2 h2 {
    display: inline-block;
    padding: 1% 3%;
    border-bottom: 1px solid #606060;
}
.employee_cont2 h3 {
    display: inline-block;
    padding: 2%;
} */
.employee_cont2 h4 {
    display: inline-block;
    padding: 1% 3% 0 3%;
}
.employee_cont2 table {
    border-collapse: collapse;
    margin: 1% auto 0;
    background-color: white;
    text-align: center;
    }
    .employee_cont2 th {
        width: 20%;
        padding: 3% 0;
        border: 1px solid #000;
        border-style: none;
        color: #fff;  
    }
    .employee_cont2 td {
        width: 20%;
        padding: 3% 0;
        border: 1px solid #eee;
    }
.employee_cont2:nth-child(4),
.employee_cont2:nth-child(6) {
    background-color: #fff;
    width: 60%; margin: -5% auto 0;
    text-align: left;
    }
    .employee_cont2:nth-child(4) h4,
    .employee_cont2:nth-child(6) h4 {
        padding: 3% 10% 0.5% 1%;
        margin-bottom:1%;
    }
    .employee_cont2:nth-child(4) li,
    .employee_cont2:nth-child(6) li {
        border-bottom: 1px solid #ddd;
        padding: 2% 1%;
    }
    .employee_cont2:nth-child(4) li span,
    .employee_cont2:nth-child(6) li span {
        color: #2980B9;
        font-weight: bold;
    }
.employee_cont2:nth-child(5) {
    background: url('../img/recruitment/cont04_back.png') no-repeat;
    background-size: cover;
    background-position: center center;
    }
    .employee_cont2:nth-child(5) h4 {color: white;}
    .R_I_fourth2_cont_wrap {
        overflow: hidden;
        margin: 0 auto;
    }
    .R_I_fourth2_content {float:left;}
    .R_I_fourth2_content > div {
        background-color: #eee;
        border-radius: 250px;
        margin: 5% 3%; padding: 2% 0 3%;
        }
        /* .R_I_fourth_content::after {
            display: inline-block;
            content: "";
        } */
        .R_I_fourth2_content .R_I_cont4_text { margin-bottom: 9%; }
        .R_I_fourth2_content img {
            margin-top: 10%;
        }
    
/* E:선원채용 탭페이지 */

/* E:탭페이지 */

/* S:section01 */
.first {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding-top: 5rem;
    text-align: center;
}
h3 { padding-bottom: 1rem; }
.first_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    margin-top: 4rem;
}
.first_content {
    width: 100%; 
    margin: 0 auto;
    text-align: center;
    padding: 4rem 0 2rem;
}
.first_content span {
    color: #2980B9;
}
/* E:section01 */

/* S:section02 */

/* E:section02 */

/* S:section03 */
.third {
    width: 100%;
    overflow: hidden;
    margin: 0px auto; 
    padding: 5rem 0;
    text-align: center;
}  
.third_cont_wrap {
    background: url('../img/recruitment/recruit9.png') no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 681px center;
    overflow:hidden; clear: both;
    margin-top: 4rem;
}
.third_content {
    border-radius: 50px;
    float: left;
    width: 33.33333333333333%;
    border-right:1px solid #ddd;
    margin:3rem 0 2rem;
}
.third_content p {
    margin-top: 1rem;
    height: 50px;
}
#circle {
    width: 100px;
    height: 100px;
    background: #E6F0F0;
    border-radius: 50%;
}
/* E:section03 */

/* S:section04 */
.fourth {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding-top: 5rem;
    text-align: center;
}
h3 { padding-bottom: 1rem; }
.fourth_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    margin-top: 4rem;
}
.fourth_content {
    width: 70%; 
    margin: 0 auto;
    text-align: left;
    padding: 4rem 0 2rem;
}
.fourth_content span {
    color: #2980B9;
}


/* E:section04 */

/* S:section05 */
.fifth {
    width: 100%;
    overflow: hidden;
    margin: 0px auto;
    padding-top: 5rem;
    text-align: center;
}
h3 { padding-bottom: 1rem; }
.fifth_cont_wrap {
    background-color: #F6F8F8;
    width: 100%;
    margin-top: 4rem;
}
.fifth_content {
    width: 70%; 
    margin: 0 auto;
    text-align: left;
    padding: 4rem 0 2rem;
}
.fifth_content span {
    color: #2980B9;
}
/* E:section04 */
/* E:recruit_M_pages */
/* E:채용정보 > 채용안내 style */